
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#txtFileNo1').blur(function () {
            var numbers = /^[0-9]+$/;
            var FileNoval = $(this).val();
            if (FileNoval != "") {
                if (FileNoval.match(numbers)) {
                    if (FileNoval.length != 5) {
                        alert('Five digit should be entered');
                        return false;
                        this.focus();
                    }
                    else {
                        var thirddigit = FileNoval.slice(2, 3);
                        if (thirddigit != 0 && thirddigit != 1 && thirddigit != 2) {
                            alert('In File No 3rd digit should be 0, 1, 2  !!!');
                            return false;
                            this.focus();
                        }
                    }
                }
                else {
                    alert('Only Numbers can be entered');
                    this.focus();
                }
            }

        });
    });

</script>

<div class="jumbotron">


    <input type="text" name="txtFileNo1" id="txtFileNo1" />



    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
